<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Tracker - Projects</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body class="bg-gray-100">


    <!-- Header -->
    <header class="bg-blue-500 text-white text-center py-4 flex items-center justify-center">

        <a href="/">
            <img src="/images/bugx64.png" alt="Logo" class="px-4">
        </a>
        <a href="/">
            <h1 class="text-3xl font-bold">Bug Tracker</h1>
        </a>
    </header>

    <div class="container mx-auto py-8">

        <!-- Placeholder for rendering other ejs views.  -->
        <%-body%>

    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center py-4">
        <p>&copy; 2024 Bug Tracker. All rights reserved.</p>
    </footer>

    <script src="/js/script.js"></script>
    

</body>

</html>